footer {
    display: flex;
    flex-direction: row;
    background-color: #255;
    padding: 1rem;
    font-family: Dosis;
}

section {
    margin-right: 5em;
    display: flex;
    flex-direction: column;
}

section:last-child {
    margin: 0;
}

h2 {
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: .5em;
    margin-bottom: 1em;
    font-size: medium;
    letter-spacing: 5px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: smaller;
}

a:hover {
    border-bottom: 1px solid white;
    margin-bottom: auto;

}